DefaultLanguage ru
AddDefaultCharset utf-8
#AddDefaultCharset windows-1251
SetEnv PYTHONIOENCODING utf-8
Options +Indexes
DirectoryIndex index.htm
AuthUserFile /var/www/marshirov/etc/.htpasswd
AuthType Basic
AuthName "notroot"
Require valid-user
#htpasswd -c .htpasswd notroot
#/var/www/etc/.htpasswd

